.leads-float {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:125rpx;
  .success-dialog{
    image{
      width:118rpx;
      height:118rpx;
      display: block;
      margin:0 auto 30rpx;
    }
    .txt{
      font-size:40rpx;
      color:#fff;
      text-align: center;
      margin-bottom:80rpx;
    }
    .btn{
      width:270rpx;
      line-height:70rpx;
      text-align: center;
      color:#ffff;
      background:#ed1d2f;
      font-size:30rpx;
      border-radius:70rpx;
    }
  }
  .leads-dialog{
    width:640rpx;
    background:#fff;
    border-radius:20rpx;
    padding:45rpx 35rpx 50rpx;
    position: relative;
    &.pro-leads{
      height:75vh;
      overflow: auto;
    }
    .tt{
      font-size:30rpx;
      font-weight: bold;
      margin-bottom:20rpx;
    }
    .form-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .form-group{
        width:30%;
      }
    }
    .form-group{
      margin-bottom:25rpx;
      position: relative;
      &.icon-arrow{
        &:after{
          content:'';
          position: absolute;
          bottom:5rpx;
          right:20rpx;
          width: 0;
          height: 0;
          border: 20rpx solid transparent;
          border-top-color: black ;
          pointer-events:none;
        }
      }
      label{
        font-size:24rpx;
        display: block;
        margin-bottom:10rpx;
      }
      input,.txt,.picker{
        width:100%;
        height:75rpx;
        line-height:75rpx;
        font-size:30rpx;
        padding:0 20rpx;
        border:1Px solid #000;
        box-sizing: border-box;
      }
      textarea{
        width:100%;
        height:210rpx;
        font-size:30rpx;
        padding:20rpx;
        border:1Px solid #000;
        box-sizing: border-box;
      }
    }
    .privacy{
      display: flex;
      align-items: center;
      margin-bottom:10rpx;
      text{
        font-size:22rpx;
      }
      navigator{
        font-size:22rpx;
        color:#121dff;
        border-bottom:1Px solid #121dff;
      }
    }
    .tips{
        color:#696969;
        font-size:22rpx;
        margin:20rpx 0;
    }
    .label{
        font-size:22rpx;
        margin-bottom:10rpx;
    }
    .submit{
      margin:80rpx auto;
      width:260rpx;
      line-height:70rpx;
      text-align: center;
      border-radius:70rpx;
      color:#fff;
      background:#ed1b2e;
    }
    .txt{
      font-size:24rpx;
      margin-bottom:10rpx;
    }
    .footer{
      margin-bottom:20rpx;
    }
    .copyright{
      font-size:21rpx;
    }
  }
  .href{
    display: inline-block;
    font-size:21rpx;
    color:#121dff;
    text-decoration: underline;
    margin:0 5rpx;
  }

  .close {
    position: absolute;
    top: -90px;
    right: -20px;
    width: 50px;
    height: 50px;
    background:url(https://campaign5.method-ad.cn/hypertherm/img/icon_close.png) no-repeat 0 0/100% auto;
  }
  .close2 {
    position: fixed;
    top: 11vh;
    right: 30px;
    width: 50px;
    height: 50px;
    background:url(https://campaign5.method-ad.cn/hypertherm/img/icon_close.png) no-repeat 0 0/100% auto;
  }
}