.tt{
    line-height:90rpx;
    text-align: center;
    font-size:28rpx;
    color:#696969;
    font-weight: bold;
    border-bottom:1px solid #f14958;
}
.banner{
    swiper{
        height:420px;
    }
    image{
        width:100%;
    }
}
.container-nav{
    .banner{
        margin-bottom:75rpx;
    }
    .tab-nav{
        position: fixed;
    }
}
.tab-nav{
    height:75rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:50rpx;
    /*position: fixed;*/
    left:0;
    width:100%;
    z-index:10;
    .item{
        width:100%;
        font-size:24rpx;
        color:#696969;
        background:#eeeeee;
        border-right:1px solid #898989;
        line-height:75rpx;
        text-align: center;
        &:last-child{
            border-right:0;
        }
        &.active{
            background:#fff;
            border-bottom:1px solid #898989;
            border-right:0;
        }
    }
}
.pro-tt{
    width:690rpx;
    margin:0 auto 50rpx;
    position: relative;
    font-size:28rpx;
    font-weight: bold;
    color:#696969;
    text-align: center;
    &:before{
        content:'';
        position: absolute;
        top:50%;
        left:0;
        width: 35%;
        height:1px;
        background:#898989;
    }
    &:after{
        content:'';
        position: absolute;
        top:50%;
        right:0;
        width: 35%;
        height:1px;
        background:#898989;
    }
}
.swiper-box{
    padding-bottom:50rpx;
}
.pro-info{
    margin-bottom:50rpx;
    .video-box{
        width:670rpx;
        height:385rpx;
        margin:0 auto 35rpx;
        video{
            width:100%;
            height:100%;
        }
    }
    swiper{
        height:600rpx;
    }
    .info{
        width:650rpx;
        margin:0 auto 35rpx;
        font-size:24rpx;
        color:#696969;
    }
    .img-box{
        width:670rpx;
        margin:0 auto 35rpx;
        image{
            width:100%;
            height:100%;
        }
    }
}
.pro-list{
    margin-bottom:50rpx;
    .list{
        display: flex;
        flex-wrap: wrap;
        .item{
            width:50%;
            padding:0 30rpx;
            margin-bottom:30rpx;
            .img-box{
                width:100%;
                margin-bottom:30rpx;
                image{
                    width:100%;
                }
            }
            .txt{
                font-size:24rpx;
                text-align: center;
            }
        }
    }
}
.data-list{
    margin-bottom:50rpx;
    .list{
        width:620rpx;
        margin:0 auto;
        border:1px solid #696969;
        border-radius:20rpx;
        padding:20rpx;
        .item{
            position: relative;
            margin-bottom:30rpx;
            display: flex;
            justify-content: space-between;
            .txt{
                color:#696969;
                font-size:24rpx;
                width:380rpx;
            }
            .icon{
                width:40rpx;
                height:40rpx;
            }
            .view{
                background:url(https://campaign5.method-ad.cn/hypertherm/img/show/icon_view1.png) no-repeat 0 0/100% auto;
            }
            .share{
                background:url(https://campaign5.method-ad.cn/hypertherm/img/show/icon_share1.png) no-repeat 0 0/100% auto;
                position: relative;
                button{
                    position: absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    opacity:0;
                }
            }
            .download{
                background:url(https://campaign5.method-ad.cn/hypertherm/img/show/icon_download1.png) no-repeat 0 0/100% auto;
            }
        }
    }
}
.how-pay{
    .leads-dialog{
    width:650rpx;
    background:#fff;
    border-radius:20rpx;
    padding:45rpx 35rpx 50rpx;
    position: relative;
    margin:0 auto;
    .form-group{
      margin-bottom:25rpx;
      position: relative;
      &.icon-arrow{
        &:after{
          content:'';
          position: absolute;
          bottom:5rpx;
          right:20rpx;
          width: 0;
          height: 0;
          border: 20rpx solid transparent;
          border-top-color: black ;
          pointer-events:none;
        }
      }
      label{
        font-size:24rpx;
        display: block;
        margin-bottom:10rpx;
      }
      input,.txt{
        width:100%;
        height:75rpx;
        line-height:75rpx;
        font-size:30rpx;
        padding:0 20rpx;
        border:1Px solid #000;
        box-sizing: border-box;
      }
      textarea{
        width:100%;
        height:210rpx;
        font-size:30rpx;
        padding:20rpx;
        border:1Px solid #000;
        box-sizing: border-box;
      }
    }
    .privacy{
      display: flex;
      align-items: center;
      margin-bottom:10rpx;
      text{
        font-size:22rpx;
        white-space:nowrap;
      }
      navigator{
        font-size:22rpx;
        color:#121dff;
        border-bottom:1Px solid #121dff;
        white-space:nowrap;
      }
    }
    .tips{
        color:#696969;
        font-size:22rpx;
        margin:20rpx 0;
    }
    .label{
        font-size:22rpx;
        margin-bottom:10rpx;
    }
    .submit{
      margin:80rpx auto;
      width:260rpx;
      line-height:70rpx;
      text-align: center;
      border-radius:70rpx;
      color:#fff;
      background:#ed1b2e;
    }
    .footer{
      margin-bottom:20rpx;
    }
    .copyright{
      font-size:21rpx;
    }
  }
}
























