view,text,textarea,input,scroll-view{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.no-data-box{
	text-align: center;
    margin-top:50rpx;
    .txt{
        font-size: 22rpx;
        color:#919191;
        margin-bottom:10rpx;
    }
    .tt{
        margin-bottom:50rpx;
    }
    text{
        font-weight: bold;
    }
    .btn{
        width:160rpx;
        line-height:50rpx;
        text-align: center;
        color:#fff;
        margin:80rpx auto 0;
        font-size:26rpx;
        background:#ed1b2e;
    }
}