.container{
    min-height:100vh;
}
.rule-box {
    width: 710rpx;
    padding-top: 50rpx;
}

.rule-box .rule-title {
    width: 216rpx;
    height: 50rpx;
    font-size: 30rpx;
    color: #ffffff;
    line-height: 50rpx;
    text-align: center;
    background-color: #ec8f26;
    border-radius: 50rpx;
    margin-left: 20rpx;
}

.rule-box .txt-box {
    width: 627rpx;
    margin-left: 80rpx;
    margin-top: 30rpx;
    padding-bottom: 40rpx;
}

.rule-box .txt-box text {
    font-size: 26rpx;
    line-height: 42rpx;
    color: #666666;
    text-align: left;
    display: block;
}