.container{
    padding-bottom:150rpx;
}
.banner{
    image{
        width:100%;
    }
}
.search-box{
    width:700rpx;
    height:50rpx;
    margin:55rpx auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background:#eaeaea;
    border-radius:50rpx;
    overflow: hidden;
    input{
        font-size:20rpx;
        width:100%;
        height:100%;
        padding-left:20rpx;
        padding-right:170rpx;
        color:#ed1b2e;
    }
    .search-btn{
        position: absolute;
        right:0;
        top:0;
        line-height:50rpx;
        height:50rpx;
        width:156rpx;
        text-align: center;
        font-size:20rpx;
        border-radius:50rpx;
        background:#ed1b2e;
        color:#fff;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content:'';
            width:29rpx;
            height:29rpx;
            display: block;
            background:url(https://campaign5.method-ad.cn/hypertherm/img/icon_search.png) no-repeat 0 0/100% auto;
            margin-right:10rpx;
        }
    }
}
.nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:700rpx;
    margin:55rpx auto 0;
    .item{
        width:212rpx;
        height:265rpx;
        margin-right:28rpx;
        background:#eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius:5rpx;
        margin-bottom:23rpx;
        &:nth-child(3n+3){
            margin-right:0;
        }
        image{
            width:100rpx;
            height:100rpx;
            margin-bottom:10rpx;
        }
        text{
            font-size:24rpx;
            color:#ed1b2e;
        }
    }
}